table {
  border: 2px solid white;
  border-collapse: collapse;
  margin-top: 16px;
}

thead,
tbody {
  border-bottom: 1px solid white;
}

thead th,
tbody td {
  text-align: left;
}

tfoot th {
  text-align: right;
}

th,
td {
  padding: 5px 10px;
}

td.product-title {
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

th.cart-total {
  font-weight: 500;
}

.product-button {
  width: fit-content;
  padding: 0;
  background: none;
  color: red;
  font-size: 12px;
  font-weight: normal;
  transition: none;
  padding: 2px;
  height: 22px;
}

.product-button:hover {
  text-decoration: underline;
  border: none;
}

.product-button:focus,
.product-button:focus-visible {
  outline: none;
  text-decoration: underline;
}

.product-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
}
